@import "./orders";
@import "./asideMenu";
@import "./kitchen";
@import './wareHouse';

.container-restaurant {
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  overflow: hidden;

  .aside-menu {
    grid-area: 1 / 1 / 2 / 2;
    width: 100%;
    height: 80em;
  }

  .main-container {
    grid-area: 1 / 2 / 2 / 3;
    width: 100%;
  }
}
