.container-orders{
  width: 100%;
  justify-content: center;
  text-align: center;
  header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    width: 100%;
    align-items: center;
    h2{
      font-size: 3rem;
    }
    button{
      border-radius: 12px;
      padding: 10px 20px;
      cursor: pointer;
      border: none;
      background-color: #30aba9;
      font-weight: bold;
      font-size: 16px;
      color: white;
      height: 42px;
      margin-top: 2em;
      margin-bottom: 1em;
    }
    button:hover{
      background-color: #299e9c;
    }
  }
  .container-orders__orders{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    .container-order__pending, .container-order__kitchen,.container-order__finished{
      width: 100%;
      margin-top: 1em;
      .title{
        color: #299e9c;
        font-size: 2rem;
      }
      .container-cards{
        overflow-y: auto;
        height: 50em;
        padding: 1em;
        display: flex;
        flex-direction: column;
        align-items: center;
        .card-order{
          cursor: pointer;
          text-align: left;
          padding: 1em;
          border-radius: 12px;
          margin-bottom: 1em;
          background-color: white;
          width: 20em;
          height: 15em;

          box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
          .title{
            margin-bottom: 1em;
            font-size: 20px;
            padding-bottom: .5em;
            border-bottom: 1px solid #299e9c;
          }
          .recipe{
            margin-top: 1em;
          }
        }
      }

    }
  }
}