.container-restaurant{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h1{
    font-size: 4.5rem;
  }
  .card{

    button{
      border-radius: 12px;
      padding: 10px 20px;
      cursor: pointer;
      border: none;
      background-color: #30aba9;
      font-weight: bold;
      font-size: 16px;
      color: white;
      height: 42px;
      margin-top: 2em;
      margin-bottom: 1em;
    }
    button:hover{
      background-color: #299e9c;
    }
  }
}

.container-orders{
  h2{
    font-size: 3rem;
  }
}

@import "./styles/main";